.app{   
    color:#717171;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentContainer{
    position: absolute;
    left:0px;
    right:0px;
    top:60px;
    bottom:0px;    
}
